<h1>Register</h1>

<form method="post">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <input type="password" placeholder="repeat" name="repeat">
    <input id="submBtn" type="submit" value="register">
</form>

{{>errors}}
<script src="/js/errors.js"></script>